/* GENERAL */

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 15px;
}

h1, h2,h3,h4
{
    color: #444;
}

h1
{
    font-family: 'Crete Round', serif;
    font-size: 45px;
}

h2
{
    font-size: 55px;
}

h3
{
    font-size: 30px;
}

h4
{
    font-size: 24px;
}

p
{
    line-height: 20px;
    color: #777
}

ul
{
    list-style: none;
}

.wapper
{
    width: 296px;
    margin: 0 auto;
    padding: 0 10px;
}

a
{
    text-decoration: none;
    color: #444
}

.orange
{
    color: #ff7a00;
}

.clear
{
    clear: both;
}

small
{
    font-size: 13px;
    font-style: italic;
}

section
{
    padding: auto 150px;
}

/* HERDER */

header
{
    height: 120px;
}

header h1
{
    float: left;
    margin-top: 32px;
    margin-left: 50px;
}

header nav
{
    float: right;
    margin-top: 50px;
}

header nav ul li
{
    float: left;    
}

header nav ul li a
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}

/* MAIN IMAGE */

#main-image
{
    height: 580px;
    background: url('images/main.jpg') center;
}

#main-image h2
{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0 40px 0;
    margin-bottom: 20px;
}

.button_1
{
    display: block;
    width: 120px;
    height: 50px;
    background: #ff7a00;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;         /* bord arrondi */ 
    
}

.button_1:hover
{
    background: #02B8DD;
}


/* STEPS */

#steps ul
{
    margin: 80px 0;
    display: flex;
    justify-content: center;
}

#steps ul li
{
    width: 300px;
    float: left;
    padding-top: 140px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    
}

#steps h4
{
    text-transform: uppercase;
    margin-bottom: 26px;
}

#steps p
{
    margin-bottom: 20px;
}

#steps_1
{
    background: url('images/pen.png') no-repeat top center;
}

#steps_2
{
    background: url('images/pile.png') no-repeat top center;
}

#steps_3
{
    background: url('images/fusee.png') no-repeat top center;
}

/* POSSIBILITIES */

#possibilities
{
    background-color: #efefef;
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

#possibilities article
{
    width: 460px;
    height: 270px;
    float: left;
    border-radius: 10px;
}

#possibilities article:first-child
{
    margin-right: 10px;
    margin-bottom: 20px;
}

.overlay
{
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.80);
    height: 100%;
    width: 190px;
    padding: 20px;
    border-radius: 10px 0 0 10px;
}

article h4
{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

#possibilities p
{
    text-align: center;
}

.bouton {
    display: block;
    width: 150px;
    height: 50px;
    background: #3c913c;
    color: #fff;
    font-size: 15x;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
}

.button_2
{
    display: block;
    width: 150px;
    height: 50px;
    background: #ff7a00;
    color: #fff;
    font-size: 15x;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 3px; 
}

.button_2:hover
{
    color: #fff;
    background-color: #02B8DD;    
}

/* CONTACT */

#contact
{
    padding: 60px;
    text-align: center;
}

#contact h3
{
    width: 480px;
    text-transform: uppercase;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid #02B8DD;
    padding-bottom: 20px;
}

form
{
    margin: 60px 0 20px 0;
}

label
{
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    color: #777;
}

input[type="text"]
{
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    border: 2px solid #ddd;
    border-radius: 3px;
}

.button_3
{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    background-color: #ff7a00;
    border-radius: 3px;
}

.button_3:hover
{
    background-color: #444;
}